.login-page {
  display: flex;
  justify-content: center;
  width: 100%;
}

.login-page > div {
  margin: 2em;
}

.login-splash {
  max-width: 300px;
  max-height: 500px;
  display: flex;
  overflow: hidden;
  border: 1px solid darkgray;
  border-radius: 6px;
  filter: drop-shadow(3px 3px 2px);
}

@media only screen and (max-width: 675px) {
  .login-splash {
    display: none;
  }
}
.login-box {
  display: flex;
  flex-direction: column;
  border: 1px solid darkgray;
  padding: 25px;
  border-radius: 6px;
  height: fit-content;
  background-color: white;
  filter: drop-shadow(3px 3px 2px);
}

.login-box input {
  margin-top: 5px;
}

.login-box h1 {
  margin: 0 10px 20px;
  font-family: "Oleo Script", cursive;
}

.accountless {
  display: flex;
  flex-direction: column;
  border: 1px solid darkgray;
  padding: 10px;
  font-size: 0.8em;
  border-radius: 6px;
  height: fit-content;
  margin-top: 25px;
  background-color: white;
  filter: drop-shadow(3px 3px 2px);
}

.accountless p {
  margin: 0;
}

.appstore-container {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  font-size: 0.8em;
  border-radius: 6px;
  height: fit-content;
  margin-top: 25px;
}

.app-btn {
  background-color: var(--not-black);
  color: white;
  padding: 5px 10px;
  border-radius: 6px;
}
