/** GENERAL PAGE FORMAT **/
#main-feed,
#reels-page,
#inbox,
#profile-page {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 500px 1fr;
}

#profile-page,
#inbox,
#reels-page {
  display: flex;
  width: 100%;
  height: 100%;
}

/** LOG IN **/
.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/** MAIN FEED **/
.main-feed-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-column: 2;
  align-items: center;
  gap: 15px;
  width: 95%;
  margin: 0 auto;
}

/** EXPLORE **/
#explore-page {
  position: relative;
  width: 100%;
  height: 100%;
}

.explore-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  width: 100%;
}

.explore-page-container button {
  margin-bottom: 1em;
}

.explore-page-container img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
}

.explore-page-container img:hover {
  transform: scale(1.05);
  border: 3px solid darkgray;
  box-sizing: border-box;
  cursor: pointer;
  z-index: 10;
}

/** MEDIA QUERIES **/
@media (max-width: 1000px) {
  .main-feed-container {
    width: 100%;
  }
}

@media (max-width: 675px) {
  #main-feed,
  #reels-page,
  #inbox,
  #profile-page {
    grid-template-columns: 1fr;
  }

  .main-feed-container {
    width: 100%;
    margin-top: 4em;
  }
}
