/** GENERAL PAGE FORMAT **/
#main-feed,
#reels-page,
#inbox,
#profile-page {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 500px 1fr;
}

#profile-page,
#inbox,
#reels-page {
  display: flex;
}

@media only screen and (max-width: 1000px) {
  #main-feed,
  #reels-page,
  #inbox,
  #profile-page {
    grid-template-columns: 1fr 500px 1fr;
  }
}

/** LOG IN **/
.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/** MAIN FEED **/
.main-feed-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-column: 2;
  align-items: center;
  gap: 15px;
  width: 95%;
}

@media only screen and (max-width: 675px) {
  .main-feed-container {
    grid-template-columns: 500px;
    margin: 60px auto auto auto;
  }
}

/** EXPLORE **/

#explore-page {
  position: relative;
  width: 100%;
  height: 100%;
}

.explore-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.explore-page-container img {
  object-fit: cover;
}

.explore-page-container img:hover {
  scale: 1.05;
  border: 3px solid darkgray;
  box-sizing: border-box;
  cursor: pointer;
}

/* When screen is smaller than 675 */
@media only screen and (max-width: 675px) {
}

/* When screen is bigger than 675 */
@media only screen and (min-width: 675px) {
}
