@import url("https://fonts.googleapis.com/css?family=Oleo+Script");

#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  height: 100vh;
}

body {
  min-height: 600px;
}

.App {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-main);
  min-width: 500px;
}
